* { 
  margin:0; 
  padding:0; 
} 

html, body {
  width:100%; 
  height:100%;
}

#modal {
  position: fixed;
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: yellow;
  text-align: center;
}

#initbtnContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 25%;
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
      
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
      
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.modal-content h1 {
  text-align: center;
}

.gameInfoMessage{
  width: 1000px;
  height: 150px;
  background-color: #f1f1f1;
}


canvas { display: block; }