* { 
        margin:0; 
        padding:0; 
} 

html, body {
        width:100%; 
        height:100%;
}




#modal {
        position: fixed;
        z-index: 9999; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        overflow: auto; 
        background-color: yellow;
        text-align: center;
      }

#initbtnContainer {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 25%;

}


canvas { position: absolute; display: block; }